@import "./../../../../styles/variables";

.product-card {
  background-color: white;
  border-radius: 20px;
  padding: 18px;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  max-width: 368px;
  cursor: pointer;
}

.product-image img {
  width: 100%;
}

.product-card-inner {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  min-height: 60vw;

  @media screen and (min-width: 568px) {
    min-height: 50vw;
  }

  @media screen and (min-width: 768px) {
    min-height: 40vw;
  }

  @media screen and (min-width: 1024px) {
    min-height: 32vw;
  }

  @media screen and (min-width: 1200px) {
    min-height: 28vw;
  }

  @media screen and (min-width: 1400px) {
    min-height: 24vw;
  }

  @media screen and (min-width: 1600px) {
    min-height: 20vw;
  }
}

.product-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.product-desc {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgb(255 255 255 / 72%);
}

.name {
  font-weight: $font-weight-bold;
  font-size: clamp(16px, 2vw, 20px);
  margin-bottom: clamp(5px, 2vw, 10px);
  line-height: 1.5;
}
