.accordian-title-text {
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  font-size: $size-18;
}

.accordian-toggle {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #333;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
}

.accordian-title {
  &.open {
    .accordian-toggle {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}
