.chip {
  padding: 8px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: #428dfd;
    border-color: #428dfd;
    color: white;
  }
}

.category-page {
  .category-filters-wrapper {
    max-width: 300px;
    margin-right: 20px;

    .category-filters-inner {
      padding-right: 20px;
    }
  }
}

.category-filters-inner {
  .accordian-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.filter-title {
  font-size: $size-16;
  font-weight: $font-weight-semibold;
  margin-bottom: 15px;
}

.category-page {
  padding: 80px 0px;
}

.category-banner {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.banner-message,
.banner-title {
  grid-column: 2 / span 10;
  display: flex;
  justify-content: center;
}

.banner-title {
  font-size: $size-38;
  font-weight: $font-weight-bold;
}

.banner-message {
  font-size: $size-18;
}

.banner-message-text {
  max-width: 26vw;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}
