.chip {
  padding: 8px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: #428dfd;
    border-color: #428dfd;
    color: white;
  }
}

.category-page {
  .category-filters-wrapper {
    max-width: 300px;
    margin-right: 20px;

    .category-filters-inner {
      padding-right: 20px;
    }
  }
}

.category-filters-inner {
  .accordian-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
