@import "./typography";
@import "./variables";
@import "./reset";
@import "./header";
@import "./layout";
@import "./accordian";

html {
  font-family: $font-family-default;
}

body {
  font-family: $font-family-Averta;
  font-size: $size-16;
  font-weight: $font-weight-regular;
  margin: 0;
  color: #333;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}
